<!DOCTYPE html>
<html lang="en">
<head>
    <title>BUP DASHBOARD</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1 class="text-center my-3">Links in Category: <span th:text="${category.name}"></span></h1>
    <table class="table table-bordered text-light">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Link Name</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="link : ${links}">
            <td th:text="${link.id}"></td>
            <td th:text="${link.name}"></td>
            <td th:text="${link.url}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/categories" class="btn btn-primary">Back to Categories</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
