<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUP DASHBOARD</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">
    <h1 class="text-center">Links</h1>
    <a href="/links/new" class="btn btn-primary mb-3">Add Link</a>
    <table class="table table-bordered text-light">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
            <th>Categories</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="link : ${links}">
            <td th:text="${link.id}"></td>
            <td th:text="${link.name}"></td>
            <td th:text="${link.url}"></td>
            <td>
                <span th:style="'margin-right: 2px;'" th:each="category : ${link.categories}" th:text="${category.name}" class="badge bg-secondary"></span>
            </td>
            <td>
                <a th:href="@{/links/{id}/edit(id=${link.id})}" class="btn btn-warning btn-sm">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
