<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUP DASHBOARD</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">
    <h1 class="text-center">Create Link</h1>
    <form th:action="@{/links/new}" th:object="${link}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Link Name</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label for="categories" class="form-label">Select Categories</label>
            <select multiple class="form-control" id="categories" name="categoryIds" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
