<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <title>BUP DASHBOARD</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard-body.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/events.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/image-slider.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/info.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/statistics.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/eSubscription.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/website-link.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header-with-clip-path :: header-with-clip-path"></div>
<!--<input type="text" id="search-query" class="form-control my-2"-->
<!--       th:style="'width: 90%; margin: 0 auto;'" placeholder="Search links..."-->
<!--       oninput="searchLinks()" />-->
<div id="accordion-container" >
    <div th:if="${noResults}" class="alert alert-warning text-center" th:style="'width: 90%; margin: 0 auto;'">
        No links found matching your search.
    </div>

    <div class="image-slider-container">
        <div class="slides">
            <div class="slide"><img th:src="@{/images/bup_image_1.jpg}" alt="Image 1"></div>
            <div class="slide"><img th:src="@{/images/bup_image_1.jpg}" alt="Image 2"></div>
            <div class="slide"><img th:src="@{/images/bup_image_3.jpg}" alt="Image 3"></div>
            <div class="slide"><img th:src="@{/images/bup_image_4.jpg}" alt="Image 4"></div>
        </div>
        <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
        <button class="next" onclick="changeSlide(1)">&#10095;</button>
        <div class="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>

    <div class="statistics-container" data-aos="zoom-out">
        <h2 class="statistics-header">Important Statistics</h2>
        <div class="first-block" id="first-block">
            <div class="card animate-left">
                <h4>Total Students</h4>
                <p id="students-count">0</p>
            </div>
            <div class="card animate-right">
                <h4>Total Teachers</h4>
                <p id="teachers-count">0</p>
            </div>
            <div class="card animate-right">
                <h4>Total Classes</h4>
                <p id="officers-count">0</p>
            </div>
            <div class="card animate-left">
                <h4>Total Courses</h4>
                <p id="courses-count">0</p>
            </div>
        </div>
    </div>

    <div class="bup-events-container" data-aos="fade-left">
        <h2 class="events-header">EVENTS</h2>
        <div class="bup-all-events">
            <div class="block">
                <h3 class="event-table-header">Today's Event</h3>
                <div class="event-container">
                    <div class="event-date">
                        <div class="event-day">
                            27
                        </div>
                        <div class="event-month-year">
                            01/25
                        </div>
                    </div>
                    <div class="event-details">
                        <div class="event-title">97th Deans Committee Meeting</div>
                        <div class="event-time-venu">
                            <div class="event-time"> <span>Time:</span> 2:00 PM</div>
                            <div class="event-venu"> <span> Venu:</span> CCR</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <h3 class="event-table-header">Upcoming Event</h3>
                <div class="event-container">
                    <div class="event-date">
                        <div class="event-day">
                            27
                        </div>
                        <div class="event-month-year">
                            01/25
                        </div>
                    </div>
                    <div class="event-details">
                        <div class="event-title">97th Deans Committee Meeting</div>
                        <div class="event-time-venu">
                            <div class="event-time"> <span>Time:</span> 2:00 PM</div>
                            <div class="event-venu"> <span> Venu:</span> CCR</div>
                        </div>
                    </div>
                </div>
                <div class="event-container">
                    <div class="event-date">
                        <div class="event-day">
                            27
                        </div>
                        <div class="event-month-year">
                            01/25
                        </div>
                    </div>
                    <div class="event-details">
                        <div class="event-title">97th Deans Committee Meeting</div>
                        <div class="event-time-venu">
                            <div class="event-time"> <span>Time:</span> 2:00 PM</div>
                            <div class="event-venu"> <span> Venu:</span> CCR</div>
                        </div>
                    </div>
                </div>
                <div class="event-container">
                    <div class="event-date">
                        <div class="event-day">
                            27
                        </div>
                        <div class="event-month-year">
                            01/25
                        </div>
                    </div>
                    <div class="event-details">
                        <div class="event-title">97th Deans Committee Meeting</div>
                        <div class="event-time-venu">
                            <div class="event-time"> <span>Time:</span> 2:00 PM</div>
                            <div class="event-venu"> <span> Venu:</span> CCR</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info-container" data-aos="fade-right">
        <div class="row">
            <div class="column">
                <h2 class="info-header">ICT Activities</h2>
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>List of Email Users</td>
                        <td id="email-users-count">9500</td>
                    </tr>
                    <tr>
                        <td>List of Zoom Users</td>
                        <td id="zoom-users-count">288</td>
                    </tr>
                    <tr>
                        <td>List of Turnitin Users</td>
                        <td id="turnitin-users-count">350</td>
                    </tr>
                    <tr>
                        <td>Number of Access Points</td>
                        <td id="access-points-count">271</td>
                    </tr>
                    <tr>
                        <td>Number of Switches</td>
                        <td id="switches-count">96</td>
                    </tr>
                    <tr>
                        <td>Number of Servers</td>
                        <td id="servers-count">17</td>
                    </tr>
                    <tr>
                        <td>Number of Printers</td>
                        <td id="printers-count">233</td>
                    </tr>
                    <tr>
                        <td>Number of Laptops Distributed</td>
                        <td id="laptops-distributed-count">365</td>
                    </tr>
                    <tr>
                        <td>Number of Halls</td>
                        <td id="halls-count">0</td>
                    </tr>
                    <tr>
                        <td>Number of Desktops Distributed</td>
                        <td id="desktops-distributed-count">1011</td>
                    </tr>
                    <tr>
                        <td>Number of Complaints Resolved</td>
                        <td id="complaints-resolved-count">20000</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <h2 class="info-header">Academic Information</h2>
                <table class="info-table">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Number of Faculty</td>
                        <td id="faculty-count">4</td>
                    </tr>
                    <tr>
                        <td>Number of Departments</td>
                        <td id="departments-count">25</td>
                    </tr>
                    <tr>
                        <td>Number of Programs</td>
                        <td id="programs-count">55</td>
                    </tr>
                    <tr>
                        <td>Number of Courses</td>
                        <td>55</td>
                    </tr>
                    <tr>
                        <td>Number of Affiliated Organizations</td>
                        <td id="affiliated-orgs-count">55</td>
                    </tr>
                    <tr>
                        <td>Number of Graduate Students</td>
                        <td id="graduate-students-count">60</td>
                    </tr>
                    <tr>
                        <td>Number of Books in Library</td>
                        <td id="books-in-library-count">10000</td>
                    </tr>
                    <tr>
                        <td>Number of Publisher Journals</td>
                        <td id="publisher-journals-count">2000</td>
                    </tr>
                    <tr>
                        <td>Number of Publisher Articles</td>
                        <td id="publisher-articles-count">2000</td>
                    </tr>
                    <tr>
                        <td>Number of Registered Alumni Students</td>
                        <td id="alumni-students-count">5000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="see-more-button">See More</button>
    </div>

    <div class="e-subscription-container" data-aos="fade-left">
        <h2 class="e-subscription-header">Library E-Subscriptions</h2>
        <div class="resource-grid">
            <a href="https://www.cambridge.org/core" target="_blank" class="resource-card">Cambridge University Press</a>
            <a href="http://emeraldinsight.com/" target="_blank" class="resource-card">Emerald</a>
            <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank" class="resource-card">IEEE</a>
            <a href="https://www.jstor.org/" target="_blank" class="resource-card">JSTOR</a>
            <a href="https://www.expresslibrary.mheducation.com/" target="_blank" class="resource-card">McGraw Hill</a>
            <a href="http://oxfordscholarship.com/" target="_blank" class="resource-card">Oxford Scholarship</a>
            <a href="https://ebookcentral.proquest.com/" target="_blank" class="resource-card">Pearson</a>
            <a href="https://login.research4life.org/tacgw/welcome.cshtml" target="_blank" class="resource-card">Research4Life</a>
            <a href="https://sk.sagepub.com/" target="_blank" class="resource-card">Sage</a>
            <a href="https://link.springer.com/" target="_blank" class="resource-card">Springer</a>
            <a href="https://www.taylorfrancis.com/" target="_blank" class="resource-card">Taylor and Francis</a>
            <a href="https://www.worldscientific.com/action/oidcCallback?idpCode=connect&error=login_required&error_description=Login+required&state=3uobhNdfews%3D" target="_blank" class="resource-card">World Scientific</a>
        </div>

    </div>



    <div class="website-link-container" data-aos="fade-left">
        <h2 class="website-link-header">Important Webite Link</h2>
        <div class="accordion">
            <div th:each="category, iter : ${categories}" class="accordion-item">
                <div class="accordion-item-header">
                    <!-- Display the category name -->
                    <span th:text="${category.name}"></span>
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <!-- Loop through links associated with this category -->
                        <a th:each="link : ${category.links}"
                           th:href="@{${link.url}}"
                           th:class="'link-category-' + ${iter.index}"
                           th:text="${link.name}"
                           target="_blank" ></a>
                    </div>
                </div>
            </div>
        </div>

        <button class="see-more-button">
            <a th:href="@{/dashboards/search/new(query='')}" style="text-decoration: none; color: white">See More</a>
        </button>
    </div>
</div>
<div th:replace="fragments/footer-with-clip-path :: footer-with-clip-path"></div>


<script th:src="@{/js/searchLink.js}"></script>
<script th:src="@{/js/accordian.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/statistics.js}"></script>
<script th:src="@{/js/slider.js}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000
    });
</script>

</body>
</html>
