<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUP DASHBOARD</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row col-md-10">
        <h2 class="text-center">List of Registered Users</h2>
    </div>
    <table class="table table-bordered text-light">
        <thead class="table-light">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "user : ${users}">
            <td th:text = "${user.firstName}"></td>
            <td th:text = "${user.lastName}"></td>
            <td th:text = "${user.email}"></td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary edit-btn">Edit</a>
            </td>
            <td>
                <a th:if="${user.id != null}" th:href="@{'/users/delete/' + ${user.id}}" th:userTitle="${user.firstName}" id="btnDelete"
                   title="Delete this user" class="fa-regular fa-trash-can icon-dark btn-delete">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-success" th:href="@{/register/save}">Add User</button>
</div>

<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);

            userTitle = link.attr("userTitle");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete the User \<strong\>" + userTitle + "\<\/strong\>?");
            $("#confirmModal").modal();
        });
    });
</script>
</body>
</html>