<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUP DASHBOARD</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row col-md-10 my-3">
        <h2 class="text-center">List of Registered Users</h2>
    </div>
    <a class="btn btn-primary mb-3" th:href="@{/register}">Add User</a>
    <table class="table table-bordered text-light">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "user : ${users}">
            <td th:text = "${user.id}"></td>
            <td th:text = "${user.firstName}"></td>
            <td th:text = "${user.lastName}"></td>
            <td th:text = "${user.email}"></td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{|/users/${user.id}/edit|}" class="btn btn-sm btn-warning">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>